<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AndyPerlitch.net: Portfolio</title>
        <meta name="viewport" content="width=device-width, user-scalable=false;">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
    </head>
    <body>
        
        <div class="main-page-header">
            <div class="container">
                <div class="header-inner">
                    <nav>
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><a href="https://soundcloud.com/andyperlitch">music</a></li>
                            <li><a href="https://github.com/andyperlitch">software</a></li>
                            <li><a href="/portfolio.html">portfolio</a></li>
                            <li><a href="#">resume</a></li>
                            <li><a class="selected" href="">contact</a></li>
                        </ul>
                    </nav>
                    <h1 class="main-title">
                        <span class="andy">ANDY</span>
                        <span class="perlitch">PERLITCH</span>
                    </h1>
                </div>
            </div>
        </div>
        
        <div id="main-content">
            <div class="container">
                
                
                
            </div>
            <div class="me"></div>
        </div>
        
    </body>
</html>