<% include header %>
<p id="i-am-a">

    <span class="lvl-1">I’m a husband, a father, a musician, </span>
    <span class="lvl-2">a software developer, a traveler, an artist, </span>
    <span class="lvl-3">a friend, a foodie, an autodidact, a dog owner, a web designer, a buddhist, a jew, </span>
    <span class="lvl-4">a student, an entrepreneur, a cook, an audiophile, a cinephile, a damn-good dancer, a comedian, a snowboarder, a Giants fan, </span>
    <span class="lvl-5">un hablador de español, a barbecuer, a frisbee player, a home-owner, a wino, a climber, a cook, a gamer, </span>
    <span class="lvl-6">a child, and an adult.</span>

</p>
<div id="gravigirl">
  <h3><a href="https://itunes.apple.com/us/app/gravigirl/id888661642?mt=8"><img src="/img/gravigirl.png" alt=""></a> download my iOS game <a href="https://itunes.apple.com/us/app/gravigirl/id888661642?mt=8">GraviGirl</a>, it's free!</h3>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script>
  setTimeout(function() {
    $("#gravigirl").animate({
      bottom: 0
    }, 500);
  }, 1000);
</script>
<% include footer %>