<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AndyPerlitch.net</title>
        <meta name="viewport" content="width=device-width, user-scalable=false;">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen" charset="utf-8">
    </head>
    <body>
        
        <div class="main-page-header" id="homepage-navbar">
            <div class="container">
                <div class="header-inner">
                    <nav>
                        <ul>
                            <li><a class="selected" href="/">home</a></li>
                            <li><a href="https://soundcloud.com/andyperlitch">music</a></li>
                            <li><a href="https://github.com/andyperlitch">software</a></li>
                            <li><a href="/portfolio.html">portfolio</a></li>
                            <li><a href="#">resume</a></li>
                            <li><a href="">contact</a></li>
                        </ul>
                    </nav>
                    <h1 class="main-title">
                        <span class="andy">ANDY</span>
                        <span class="perlitch">PERLITCH</span>
                    </h1>
                </div>
            </div>
        </div>
        
        <div id="main-content">
            <div class="container">
                <p id="i-am-a">
                
                    <span class="lvl-1">I’m a husband, a father, a musician, </span>
                    <span class="lvl-2">a software developer, a traveler, an artist, </span>
                    <span class="lvl-3">a friend, a foodie, an autodidact, a dog owner, a web designer, a buddhist, a jew, </span>
                    <span class="lvl-4">a student, an entrepreneur, a cinephile, a dancer, a comedian, an audiophile, a snowboarder, a Giants fan, </span>
                    <span class="lvl-5">un hablador de español, a barbecuer, a frisbee player, a home-owner, a wino, a climber, a cook, a gamer, </span>
                    <span class="lvl-6">a child, and an adult.</span>
                
                </p>
            </div>
            <div class="me"></div>
        </div>
        
    </body>
</html>