#homepage-navbar {
  height: 277px;
}
#homepage-navbar .container .header-inner {
  position: absolute;
  bottom: -1px;
  left: 0;
  padding-top: 15px;
}
#main-content {
  position: relative;
}
#main-content #i-am-a {
  max-width: 600px;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 100;
  color: #FFF;
  letter-spacing: 0.2em;
  line-height: 35px;
  padding-top: 30px;
  text-shadow: 1px 1px 1px #272418, 2px 2px 1px #272418, 3px 3px 1px #272418, -1px -2px 1px #272418;
  margin: 0 auto;
}
#main-content #i-am-a .lvl-1 {
  font-size: 34.2px;
}
#main-content #i-am-a .lvl-2 {
  font-size: 28.8px;
}
#main-content #i-am-a .lvl-3 {
  font-size: 23.4px;
}
#main-content #i-am-a .lvl-4 {
  font-size: 18px;
}
#main-content #i-am-a .lvl-5 {
  font-size: 12.6px;
}
#main-content #i-am-a .lvl-6 {
  font-size: 9px;
}
@media all and (max-width: 480px) {
  #home #homepage-navbar {
    height: 150px;
  }
  #home #main-content #i-am-a .lvl-1 {
    font-size: 22.5px;
  }
  #home #main-content #i-am-a .lvl-2 {
    font-size: 19.8px;
  }
  #home #main-content #i-am-a .lvl-3 {
    font-size: 17.1px;
  }
  #home #main-content #i-am-a .lvl-4 {
    font-size: 14.4px;
  }
  #home #main-content #i-am-a .lvl-5 {
    font-size: 11.7px;
  }
  #home #main-content #i-am-a .lvl-6 {
    font-size: 9px;
  }
}
